.carousel.slide#carousel-home
  .carousel-inner
    .item.active
      %img{src: '/assets/1.png'}
      .carousel-caption
        %h4
          Blast your website to the space!
    .item
      %img{src: '/assets/1.png'}
      .carousel-caption
        %h4
          Share videos easily!
    .item
      %img{src: '/assets/1.png'}
      .carousel-caption
        %h4
          With the power to configure your website.
  %a.carousel-control.right{:href=>"#carousel-home", :"data-slide"=>"next"}
    %span.glyphicon.glyphicon-arrow-right
  %a.carousel-control.left{:href=>"#carousel-home", :"data-slide"=>"prev"}
    %span.glyphicon.glyphicon-arrow-left

.span5.boxie.pull-left
  .jumbotron
    %h1 Hello, world!
    %p Here, have some text which is totaly irelevant and maybe full of mistakes.
.span5.boxie.pull-right
  .jumbotron
    %h1 Hello, world!
    %p Here, have some text which is totaly irelevant and maybe full of mistakes.
