/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*
 *= require bootstrap_and_overrides
 */

.titlebar {
  text-align: center;
  font-size: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.titlebar a {
  color: rgb(103, 140, 57);
}

.titlebar a:hover {
  color: rgb(103, 140, 57);
  text-decoration: none;
}

.centering{
  float: none;
  margin: 0 auto;
}

.vine-green {
  color: rgb(103, 140, 57);
}

.circle {
    border-radius: 50%/50%;
    width: 72px;
    height: 72px;
    background-color: rgb(103, 140, 57);
    line-height: 72px;
    text-align: center;
    font-size: 50px;
    color: white;
    margin-top: 30px;
}

.navbar-mine {
  /*margin-left: 20%;
  margin-right: 20%;*/
  border-bottom: 3px solid rgb(206, 206, 206);
  outline-offset: 0px;
}

.navbar-mine ul li {
  margin-left: 30px;
}

.content {
  overflow: auto;
}

.boxie {
  border-bottom: 3px solid rgb(206, 206, 206);
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.boxie h1 {
  color: rgb(103, 140, 57);
  text-align: center;
}

.greenify {
  color: rgb(103, 140, 57);
}

.tenant-well .working {
  color: rgb(103, 140, 57);
}

.tenant-well .stopped {
  color: #800000;
}

#carousel-home .carousel-caption {
  background-color: rgba(206, 206, 206, 0.8);
}

#carousel-home h4 {
  color: rgb(103, 140, 57);
}

footer {
  border-top: 3px solid rgb(206, 206, 206);
  padding: 12px;
}
